<dl><a href="/rock">Play Rock</a></dl>
<dl><a href="/paper">Play Paper</a></dl>
<dl><a href="/scissors">Play Scissors</a></dl>

<h2>
<dl>We played scissors! </dl>
<dl>They played <%= @random_move %>!</dl>
<dl>We <%= @outcome %>!</dl> 
</h2>

<h4><a href= "/">Rules</a></h4>
